/* Esto es un comentario */

section p {
    background-color: gray;
    color: white;
}

h1,h2{
    text-align: center;
}

h1 {
    background-color: black;
    color: white;
}

h2 {
    background-color: navy;
    color: aqua;
}

thead tr{
    background-color: black;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: grey;
}

tbody tr:nth-child(odd) {
    background-color: red;
}

